<%= form_with(model: todo, id: dom_id(todo)) do |form| %>
  <% if todo.errors.any? %>
    <div class="error-messages">
      <h3><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h3>
      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "Title" %>
    <%= form.text_field :title, placeholder: "Enter todo title", required: true %>
  </div>

  <div class="field">
    <%= form.label :description, "Description (optional)" %>
    <%= form.text_area :description, rows: 3, placeholder: "Enter todo description" %>
  </div>

  <div class="actions">
    <%= form.submit todo.new_record? ? "Create TODO" : "Update TODO", class: "btn btn-primary" %>
    <% if !todo.new_record? %>
      <%= link_to "Cancel", todo_path(todo), class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
